.layout__region {
    position: relative;
}

.node-layout-builder-form {
    font-size: 1.6rem;

    .form-actions {
        color: var(--color-grey-dark-1);
        padding: 2rem 2rem 0;

        input {
            padding: 1rem 2rem;
            border-radius: 10px;
        }
    }

    .entity-content-form-revision-information {
        color: var(--color-grey-dark-1);
    }
}

.layout-builder-discard-changes,
.layout-builder-revert-overrides {
    color: var(--color-grey-dark-1);
    font-size: 1.6rem;
    padding: 2rem 2rem 0;

    .form-submit {
        padding: 1rem 2rem;
        border-radius: 10px;
    }
}

.layout-builder--content-preview-disabled {
    color: black;
}